html {
  margin: 0;
}

#logo {
  text-align: center;
}

#nav-logo {
  width: 60px; 
  height: 50px;
}

#nav-right {
  float: right;
}

.home-planets {
  width: 85%;
  height: 75%;
}

#planet-img {
  width: 50%;
  height: 50%;
}

.tour-imgs, .tour-title-img, .planet-imgs, .starspeeder-pics {
  width: 100%;
  height: 100%;
}

.double-tab {
  margin-left: 6rem;
}

hr {
  border: none;
  height: 5px;
  /* Set the hr color */
  background-color: rgb(0, 124, 41);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* 
  
  Code to create a responsive background image - taken from here: 
  https://www.webfx.com/blog/web-design/responsive-background-image/ 
  
  */
  background-image: url('/static/images/light_speed_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
  padding: 25px;
}

/* If the screen is 768px or wider */
@media screen and (min-width: 768px) {
  .startours {
    height: 40%;
    width: 45%;
  }

  #two-in-one-row {
    display: none;
  }
}

/* If the screen is 767px or less */
@media screen and (max-width: 767px) {
  .startours {
    height: 70%;
    width: 75%;
  }

  #tour-title-row {
    display: none;
  }

  #tour-img-row {
    display: none;
  }
}

@media screen and (max-width: 555px) {
  .long-text {
    font-size: 18vw;
  }

  .long-text-sub {
    font-size: 15vw;
  }
}

@media screen and (max-width: 340px) {
  .btn-row-book {
    display: none;
  }
}

@media screen and (min-width: 341px) {
  .btn-row-col-book {
    display: none;
  }
}

@media screen and (max-width: 389px) {
  /* the whole row of buttons on the bottom of the Book Success page */
  .btn-row-book-success {
    display: none;
  }
}

@media screen and (min-width: 390px) {
  /* Each hidden column containing a button on the Book Success page */
  .btn-row-col-book-success {
    display: none;
  }
}