{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<h1 class="display-1 text-center text-warning">About Us</h1>
<div class="row justify-content-center">
  <img class="img-fluid startours" src="{{g.img_path}}Star_Tours_logo.png" alt="Star Tours logo">
</div>
<p class="text-center text-md-left">
  In 2020 Earth finally made contact with the New Galactic Republic.  It was a monumental day for humanity, learning that we
  were not alone in the universe.  The New Galactic Republic welcomed Earth with open arms and soon opened their routes to us
  for space travel to all the planets under their rule. 
</p>
<p class="text-center text-md-left">
  Seeing an exciting business opportunity for both sides, the New Galactic Republic and the United Nations parterned together to
  create Star Tours.  Since Earth had not yet developed light speed capabilities, the New Galactic Republic lent Earth 100
  Starspeeder 3000s to start with.  This was a great gift to Earth.  Not only did it allow Star Tours to get off the ground, but
  all the governments of Earth were allowed to study the vehicles and reverse-engineer them to create their own light speed 
  vehicles.   
</p>
<p class="text-center text-md-left">
  Some were wary of the droid pilot and co-pilots at first.  "How could that be safe?  We need an intelligent being to be behind
  the wheel at all times - even if they're piloting it remotely!"  But after countless test flights with and without passengers,
  these droids performed flawlessly - even better than human or alien pilots.  The public still needed more convincing though,
  so if needed in an emergency, when both droids become unresponsive or behave erratically, there are emergency buttons at every
  seat that passengers can press if something goes wrong.  You will be able to talk directly to a human or alien pilot who will
  take control of the ship remotely and steer you to safety.  
</p>
<p class="text-center text-md-left">
  With 100 employees scattered across the globe and the galaxy, we are just starting out, but business is booming and we are
  growing very fast!  We are very optimistic about the future and can't wait to show you what our beautiful galaxy has to offer.  
</p>
{% endblock %}