{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}
<h1 class="display-1 text-warning text-center">Account</h1>
<h3 class="text-center text-md-left text-warning">Name</h3>
<p class="text-center text-md-left">{{g.user.first_name}} {{g.user.last_name}}</p>
<h3 class="text-center text-md-left text-warning">Email</h3>
<p class="text-center text-md-left">{{g.user.email}}</p>
<h3 class="text-center text-md-left text-warning">Username</h3>
<p class="text-center text-md-left">{{g.user.username}}</p>
<div class="d-flex justify-content-center justify-content-md-start">
  <a class="btn btn-success" href="/edit-user-info">Edit</a>
</div>
{% endblock %}