{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}
<h1 class="display-1 text-warning text-center">Account</h1>
<h3 class="display-3 text-warning text-center">Personal Info.</h3>
<h3 class="text-center text-md-left text-warning">Name</h3>
<p class="text-center text-md-left">{{g.user.first_name}} {{g.user.last_name}}</p>
<h3 class="text-center text-md-left text-warning">Email</h3>
<p class="text-center text-md-left">{{g.user.email}}</p>
<h3 class="text-center text-md-left text-warning">Username</h3>
<p class="text-center text-md-left">{{g.user.username}}</p>
<h3 class="text-center text-md-left text-warning">Password</h3>
<p class="text-center text-md-left">************</p>
<div class="d-flex justify-content-center justify-content-md-start">
  <a class="btn btn-success" href="/account/edit/verify">Edit</a>
</div>
<h3 class="display-3 text-warning text-center">Itineraries</h3>
{% if g.user.itineraries|length == 0 %}
<p class="text-center text-md-left">None yet.  Why don't we change that?  Book a trip <a href="/book">here!</a></p>
{% else %}
<div class="row justify-content-start">
  {% for itinerary in g.user.itineraries %}
  {% if itinerary.start_date %}
  <div class="col-12 col-md-6">
    <div class="jumbotron bg-secondary">
      <h3 class="text-warning">Trip starting {{itinerary.prettify_start_date()}}</h3>
      {% if itinerary.flights|length > 0 %}
      {% for flight in itinerary.flights %}
      {% if flight.depart_or_return == "depart" %}
      <p>Depart Flight: {{flight.flight_num}}</p>
      <p class="ml-5">Depart Planet: {{flight.depart_planet}}</p>
      <p class="ml-5">Depart Date: {{flight.prettify_depart_date()}}</p>
      <p class="ml-5">Depart Time: {{flight.depart_time}}</p>
      <p class="ml-5">Arrive Planet: {{flight.arrive_planet}}</p>
      <p class="ml-5">Arrive Date: {{flight.prettify_arrive_date()}}</p>
      <p class="ml-5">Arrive Time: {{flight.arrive_time}}</p>
      {% elif flight.depart_or_return == "return" %}
      <p>Return Flight: {{flight.flight_num}}</p>
      <p class="ml-5">Depart Planet: {{flight.depart_planet}}</p>
      <p class="ml-5">Depart Date: {{flight.prettify_depart_date()}}</p>
      <p class="ml-5">Depart Time: {{flight.depart_time}}</p>
      <p class="ml-5">Arrive Planet: {{flight.arrive_planet}}</p>
      <p class="ml-5">Arrive Date: {{flight.prettify_arrive_date()}}</p>
      <p class="ml-5">Arrive Time: {{flight.arrive_time}}</p>
      {% endif %}
      {% endfor %}
      {% endif %}
      
      {% if itinerary.tours|length > 0 %}
      <p>Tours:</p>
      {% for tour in itinerary.tours %}
      <p class="ml-5">{{tour.name}}</p>
      <p class="double-tab">Start Date: {{tour.prettify_start_date()}}</p>
      <p class="double-tab">End Date: {{tour.prettify_end_date()}}</p>
      <p class="double-tab">Start Time: {{tour.start_time}}</p>
      <p class="double-tab">End Time: {{tour.end_time}}</p>
      {% endfor %}
      {% endif %}
      <div class="d-flex justify-content-center">
        <form action="/itineraries/delete/{{itinerary.id}}" method="post">
          <button class="btn btn-danger">Cancel / Delete Trip</button>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}