{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}
<h1 class="display-1 text-warning text-center mb-5">Account</h1>

<h3 class="display-3 text-warning text-center">Personal Info.</h3>


<h3 class="text-center text-warning">Name</h3>
<p class="text-center">{{g.user.first_name}} {{g.user.last_name}}</p>
<h3 class="text-center text-warning">Email</h3>
<p class="text-center">{{g.user.email}}</p>
<h3 class="text-center text-warning">Username</h3>
<p class="text-center">{{g.user.username}}</p>
<h3 class="text-center text-warning">Password</h3>
<p class="text-center">************</p>
<div class="d-flex justify-content-center">
  <a class="btn btn-success mr-4" href="/account/edit/verify">Edit Info.</a>
  <form action="/user/delete" method="POST"><button class="btn btn-danger">Delete Account</button></form>
</div>

<h3 class="mt-5 display-3 text-warning text-center">Trips</h3>
{% if g.user.itineraries|length == 0 or (g.user.itineraries|length == 1 and not g.user.itineraries[0].start_date) %}
<p class="text-center mb-5 text-md-left">None yet.  Why don't we change that?  Book a trip <a href="/book">here!</a></p>
{% else %}
<div class="row mb-5 justify-content-center">
  {% for itinerary in g.user.itineraries %}
  {% if itinerary.start_date and itinerary.end_date %}
  <div class="col-12 col-md-6">
    <div class="jumbotron bg-secondary">
      <h2 class="text-warning text-center">{{itinerary.planets[0].name}}</h2>
      <h3 class="text-warning text-center">{{g.prettify_date(itinerary.start_date)}} - {{g.prettify_date(itinerary.end_date)}}</h3>
      {% if itinerary.flights|length > 0 %}
      {% for i in range(itinerary.flights|length) %}
      {% if itinerary.flights[i].depart_or_return == "depart" %}
      <p>Depart Flight: {{itinerary.flights[i].flight_num}}</p>
      <p class="ml-5">Depart Planet: {{itinerary.flights[i].depart_planet}}</p>
      <p class="ml-5">Depart Time/Date: {{itinerary.flights[i].depart_time}} {{g.prettify_date(itinerary.flight_dates[i].depart_date)}}</p>
      <p class="ml-5">Arrive Planet: {{itinerary.flights[i].arrive_planet}}</p>
      <p class="ml-5">Arrive Time/Date: {{itinerary.flights[i].arrive_time}} {{g.prettify_date(itinerary.flight_dates[i].arrive_date)}}</p>
      <p class="ml-5">Price: ${{itinerary.flights[i].price}}</p>

      {% elif itinerary.flights[i].depart_or_return == "return" %}
      <p>Return Flight: {{itinerary.flights[i].flight_num}}</p>
      <p class="ml-5">Depart Planet: {{itinerary.flights[i].depart_planet}}</p>
      <p class="ml-5">Depart Time/Date: {{itinerary.flights[i].depart_time}} {{g.prettify_date(itinerary.flight_dates[i].depart_date)}}</p>
      <p class="ml-5">Arrive Planet: {{itinerary.flights[i].arrive_planet}}</p>
      <p class="ml-5">Arrive Time/Date: {{itinerary.flights[i].arrive_time}} {{g.prettify_date(itinerary.flight_dates[i].arrive_date)}}</p>
      <p class="ml-5">Price: ${{itinerary.flights[i].price}}</p>
      {% endif %}
      {% endfor %}
      {% endif %}
      
      {% if itinerary.tours|length > 0 %}
      <p>Tours:</p>
      {% for i in range(itinerary.tours|length) %}
      <p class="ml-5">{{itinerary.tours[i].name}}</p>
      <p class="double-tab">Start Time/Date: {{itinerary.tours[i].start_time}} {{g.prettify_date(itinerary.tour_dates[i].start_date)}}</p>
      <p class="double-tab">End Time/Date: {{itinerary.tours[i].end_time}} {{g.prettify_date(itinerary.tour_dates[i].end_date)}}</p>
      <p class="double-tab">Price: ${{itinerary.tours[i].price}}</p>
      {% endfor %}
      {% endif %}
      <h4><b>Total: ${{itinerary.add_commas_to_total()}}</b></h4>
      <div class="d-flex justify-content-center">
        <form action="/itineraries/delete/{{itinerary.id}}" method="post">
          <button class="btn btn-danger">Cancel / Delete Trip</button>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}