{% extends 'base.html' %}
{% block title %}Book{% endblock %}
{% block content %}
<h1 class="display-1 text-center text-warning mb-4">Book A Trip</h1>
<p class="text-center">Use this form below to book tours and flights.
  <br>  
  <br>
  Your total will be displayed when you click 'Submit' and 
  you'll be able to confirm the total before officially booking.
  <br>  
  <br>
  <b class="text-primary"><i>All payments are made in full either at your departing 
    spaceport or to your tour guide, if you're just booking a tour.</i></b>
  <br>  
  <br>
  You can select no flights and just tours or no tours and just 
  flights, or two flights and many tours.  But you have to select at least one tour or one flight to submit the form.
  <br>  
  <br>
  If you want 
  to go to multiple planets on your trip, simply book a 2nd trip. And remember, all flights and tours run <b><i>DAILY</i></b>!
</p>
<form class="mt-5" id="book-form" action="/book/submit" method="POST">
  {{form.hidden_tag()}}

  <h2 class="text-center text-warning">Where Do You Want To Go?</h2>
  <div class="form-row justify-content-center my-4">
    <div class="col-11 col-sm-5 col-md-3">
      <div class="form-group text-center">
        {{form.planet.label(id="planet-label")}}
        <!-- Every time we select a new planet, we'll automatically get its associated tours and flights in our tour select field 
        and flight select fields, thanks to onchange="getTours(); getFlights();" -->
        {{form.planet(class_="form-control", id="planet", onchange="getTours(); getFlights();")}}
        {% for err in form.planet.errors %}
        <small class="form-text text-light bg-danger">
          {{err}}
        </small>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="form-row justify-content-around my-4">
    <div class="col-11 col-sm-5 col-md-3">
      <div class="form-group text-center">
        {{form.depart_date.label(id="depart-date-label")}}
        {{form.depart_date(class_="form-control datepicker mb-3", id="depart-date")}}
        <!-- Add javascript:void(); here to prevent page from jumping to top when clicking this link -->
        <a class="clear-link" href="javascript:void();">Clear</a>
        {% for err in form.depart_date.errors %}
        <small class="form-text text-light bg-danger">
          {{err}}
        </small>
        {% endfor %}
      </div>
    </div>

    <div class="col-11 col-sm-5 col-md-3">
      <div class="form-group text-center">
        {{form.return_date.label(id="return-date-label")}}
        {{form.return_date(class_="form-control datepicker mb-3", id="return-date")}}
        <a class="clear-link" href="javascript:void();">Clear</a>
        {% for err in form.return_date.errors %}
        <small class="form-text text-light bg-danger">
          {{err}}
        </small>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="form-row justify-content-around my-4">
    <div class="col-11 col-sm-5 col-md-3">
      <div class="form-group text-center">
        {{form.depart_flight.label(id="depart-flight-label")}}
        {{form.depart_flight(class_="form-control flight mb-3", id="depart-flight")}}
        {% for err in form.depart_flight.errors %}
        <small class="form-text text-light bg-danger">
          {{err}}
        </small>
        {% endfor %}
      </div>
      <div class="form-group text-center form-check">
        {{form.no_depart(class_="form-check-input", id="no_depart", onchange="clearFlightOrTour('departFlight');")}}
        {{form.no_depart.label(class_="form-check-label")}}
      </div>
    </div>

    <div class="col-11 col-sm-5 col-md-3">
      <div class="form-group text-center">
        {{form.return_flight.label(id="return-flight-label")}}
        {{form.return_flight(class_="form-control flight mb-3", id="return-flight")}}
        {% for err in form.return_flight.errors %}
        <small class="form-text text-light bg-danger">
          {{err}}
        </small>
        {% endfor %}
      </div>
      <div class="form-group text-center form-check">
        {{form.no_return(class_="form-check-input", id="no_return", onchange="clearFlightOrTour('returnFlight');")}}
        {{form.no_return.label(class_="form-check-label")}}
      </div>
    </div>
  </div> 
  
  <h2 class="text-center text-warning">Tours</h2>
  <hr>
  <div class="form-row justify-content-center my-4">
    <div class="col-11 col-sm-5 col-md-3">
      <div class="form-group text-center">
        {{form.tour.label(id="tour-label")}}
        {{form.tour(class_="form-control", id="tour")}}
        {% for err in form.tour.errors %}
        <small class="form-text text-light bg-danger">
          {{err}}
        </small>
        {% endfor %}
      </div>
      <div class="form-group text-center form-check">
        {{form.no_tour(class_="form-check-input", id="no_tour", onchange="clearFlightOrTour('tour');")}}
        {{form.no_tour.label(class_="form-check-label", id="no_tour_label")}}
      </div>
    </div>
  </div>
  
  <div class="form-row justify-content-center">
    <div class="col-11 col-sm-5 col-md-3">
      <div class="form-group text-center">
        {{form.tour_date.label(id="tour-date-label")}}
        {{form.tour_date(class_="form-control datepicker mb-3", id="tour-date")}}
        <a class="clear-link" id="tour-date-clear" href="javascript:void();">Clear</a>
        {% for err in form.tour_date.errors %}
        <small class="form-text text-light bg-danger">
          {{err}}
        </small>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>

  <h4 id="warning-msg" class="text-center text-danger">
    <b>
    Make sure you're done selecting your current planet, flight(s), and tour before adding additional tours.  You won't be able 
    to change your previous planet, flight(s), or tour(s) after you click the "Add another tour" link below.
    </b>
  </h4>

  <div class="text-center mb-4" id="add-tour-container">
    <a id="add-xtra-tour-link" href="javascript:void();" onclick="addTour();">Add another tour</a>
  </div>

  <div class="row justify-content-center mb-5">
    <button type="button" onclick="changeFormInputs(); addUpTotal();" data-toggle="modal" data-target="#totalModal" id="submit-trip-btn" class="btn btn-success btn-lg mr-3">Submit</button>
    <a href="/" class="btn btn-info btn-lg">Home</a>
    <a href="/book" class="ml-3 btn btn-danger btn-lg" id="start-over-btn">Start Over</a>
  </div>
</form>

<div class="modal fade" id="totalModal" tabindex="-1" aria-labelledby="totalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h1 class="modal-title text-warning w-100 text-center" id="totalModalLabel">Your Total</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center" id="total-amt"></h3>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <a href="/book" class="btn btn-danger">Start Over</a>
        <button type="button" onclick="bookFormSubmit();" class="btn btn-success">Book!</button>  
      </div>
    </div>
  </div>
</div>
{% endblock %}