{% extends 'base.html' %}
{% block title %}Flights{% endblock %}
{% block content %}
<h1 class="mb-5 display-1 text-center text-warning">Flights</h1>
{% for planet in planets %}
<h3 class="display-3 text-center"><a class="text-warning" href="/planets/{{planet.name}}">{{planet.name}}</a></h3>
<div class="row justify-content-around">
  <div class="col-12 col-md-6">
    <h4 class="text-light text-center">Departures</h4>
    {% for flight in flights %}
      {% if flight.depart_planet == planet.name %}
      <div class="jumbotron bg-secondary">
        <div class="row align-items-md-center">
          <div class="col-12 col-md-6">
            <p class="text-center text-md-left">Flight {{flight.flight_num}} - {{flight.depart_planet}} to {{flight.arrive_planet}}</p>
            <p class="text-center text-md-left">Depart Time: {{flight.depart_time}}</p>
            <p class="text-center text-md-left">Arrive Time: {{flight.arrive_time}}</p>
            <p class="text-center text-md-left">Flight Time: {{flight.prettify_flight_time()}}</p>
            <p class="text-center text-md-left">Price: ${{flight.price}}</p>
          </div>
          <div class="col-12 d-flex justify-content-center col-md-6">
            <a class="btn btn-lg btn-success" href="/book?r_flight={{flight.flight_num}}">Book</a>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-12 col-md-6">
    <h4 class="text-light text-center">Arrivals</h4>
    {% for flight in flights %}
      {% if flight.arrive_planet == planet.name %}
      <div class="jumbotron bg-secondary">
        <div class="row align-items-md-center">
          <div class="col-12 col-md-6">
            <p class="text-center text-md-left">Flight {{flight.flight_num}} - {{flight.depart_planet}} to {{flight.arrive_planet}}</p>
            <p class="text-center text-md-left">Depart Time: {{flight.depart_time}}</p>
            <p class="text-center text-md-left">Arrive Time: {{flight.arrive_time}}</p>
            <p class="text-center text-md-left">Flight Time: {{flight.prettify_flight_time()}}</p>
            <p class="text-center text-md-left">Price: ${{flight.price}}</p>
          </div>
          <div class="col-12 d-flex justify-content-center col-md-6">
            <a class="btn btn-lg btn-success" href="/book?d_flight={{flight.flight_num}}">Book</a>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}