{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="logo">  
  <img class="img-fluid startours" src="https://ik.imagekit.io/mfierro31/star_tours/Star_Tours_logo.png" alt="Star Tours logo">
</div>
<h1 class="text-center">Light speed to your favorite destinations across the galaxy!</h1>
<p class="mt-5 text-center">Star Tours offers <b><i>DAILY</i></b> tours and <b><i>DAILY</i></b> nonstop flights from Earth to the most famous planets around!</p>
<p class="mt-5 text-center">Feel free to browse our planets, tours, and flights without an account, but once you're ready to book, you'll need to create an account us.  We promise it's easy, fast, and painless! </p>
<p class="mt-5 text-center">From the Core to the Outer Rim, we got a place for everybody!  Where would you like to go today?</p>
<div class="mt-5 row justify-content-center">
  {% for planet in planets %}
  <div class="mb-3 col-12 col-md-4 text-center">
    <h3 class="text-center"><a class="text-warning" href="/planets/{{planet.name}}">{{planet.name}}</a></h3>
    <img src="https://ik.imagekit.io/mfierro31/star_tours/{{planet.images[0].image_name}}" class="img-fluid home-planets rounded-circle" alt="{{planet.name}}">
  </div>
  {% endfor %}
</div>
{% endblock %}