{% extends 'base.html' %}
{% block title %}Tours{% endblock %}
{% block content %}
<h1 class="mb-5 display-1 text-warning text-center long-text">Tours</h1>
{% for planet in planets %}
<div class="row justify-content-center">
  <h3 class="display-3 text-center long-text-sub"><a class="text-warning" href="/planets/{{planet.name}}">{{planet.name}}</a></h3>
</div>
<!-- These two separate rows will be displayed on medium and wider screens because they make the titles and images
     line up perfectly with each other.  On small and xsmall screens, their display is set to none in CSS.
-->
<div id="tour-title-row" class="row justify-content-around">
  {% for tour in planet.tours %}
    {% if planet.tours|length == 1 %}
    <div class="col-12">
      <h4 class="tour-title text-center"><a class="text-light" href="/tours/{{tour.id}}">{{tour.name}}</a></h4>
    </div>
    {% elif planet.tours|length == 2 %}
    <div class="col-md-6">
      <h4 class="tour-title text-center"><a class="text-light" href="/tours/{{tour.id}}">{{tour.name}}</a></h4>
    </div>
    {% elif planet.tours|length == 3 %}
    <div class="col-md-4">
      <h4 class="tour-title text-center"><a class="text-light" href="/tours/{{tour.id}}">{{tour.name}}</a></h4>
    </div>
    {% else %}
    <div class="col-md-3">
      <h4 class="tour-title text-center"><a class="text-light" href="/tours/{{tour.id}}">{{tour.name}}</a></h4>
    </div>
    {% endif %}
  {% endfor %}
</div>

<div id="tour-img-row" class="mb-5 row justify-content-around">
  {% for tour in planet.tours %}
    {% if planet.tours|length == 1 %}
    <div class="col-12">
      <img class="tour-title-img img-fluid" src="{{g.img_path}}{{tour.images[0].image_name}}" alt="{{tour.images[0].image_name}}">
    </div>
    {% elif planet.tours|length == 2 %}
    <div class="col-md-6">
      <img class="tour-title-img img-fluid" src="{{g.img_path}}{{tour.images[0].image_name}}" alt="{{tour.images[0].image_name}}">
    </div>
    {% elif planet.tours|length == 3 %}
    <div class="col-md-4">
      <img class="tour-title-img img-fluid" src="{{g.img_path}}{{tour.images[0].image_name}}" alt="{{tour.images[0].image_name}}">
    </div>
    {% else %}
    <div class="col-md-3">
      <img class="tour-title-img img-fluid" src="{{g.img_path}}{{tour.images[0].image_name}}" alt="{{tour.images[0].image_name}}">
    </div>
    {% endif %}
  {% endfor %}
</div>
<!------------------------------------------------------------------------------------------------------------------->

<!-- This row will be displayed on xtra small and small screens.  On medium and up, its display is set to none. -->
<div id="two-in-one-row" class="row justify-content-center">
  {% for tour in planet.tours %}
  <div class="row mb-5 justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <h4 class="tour-title text-center long-text-sub-2"><a class="text-light" href="/tours/{{tour.id}}">{{tour.name}}</a></h4>
      </div>
      <div class="row justify-content-center">
        <img class="tour-title-img img-fluid" src="{{g.img_path}}{{tour.images[0].image_name}}" alt="{{tour.images[0].image_name}}">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}