{% extends 'base.html' %}
{% block title %}Tour{% endblock %}
{% block content %}
<h1 class="display-1 text-center text-warning">{{tour.name}}</h1>
<p class="text-center">{{tour.description}}</p>
<div class="row mt-4 justify-content-around">
  {% for img in tour.images %}
  {% if tour.images|length == 1 %}
  <div class="mb-4 col-12">
    <img class="img-fluid tour-imgs" src="{{g.img_path}}{{img.image_name}}" alt="{{img.image_name}}">
  </div>
  {% elif tour.images|length == 2 %}
  <div class="mb-4 col-12 col-md-6">
    <img class="img-fluid tour-imgs" src="{{g.img_path}}{{img.image_name}}" alt="{{img.image_name}}">
  </div>
  {% elif tour.images|length == 3 %}
  <div class="mb-4 col-12 col-md-4">
    <img class="img-fluid tour-imgs" src="{{g.img_path}}{{img.image_name}}" alt="{{img.image_name}}">
  </div>
  {% else %}
  <div class="mb-4 col-12 col-md-3">
    <img class="img-fluid tour-imgs" src="{{g.img_path}}{{img.image_name}}" alt="{{img.image_name}}">
  </div>
  {% endif %}
  {% endfor %}
</div>
<div class="row justify-content-center">
  <div class="col-12 mb-3 mb-md-0 col-md-3 text-center">
    Start Time: {{tour.start_time}}
  </div>
  <div class="col-12 mb-3 mb-md-0 col-md-3 text-center">
    End Time: {{tour.end_time}}
  </div>
  <div class="col-12 mb-3 mb-md-0 col-md-3 text-center">
    Duration: {{g.prettify_duration(tour.duration)}}
  </div>
  <div class="col-12 col-md-3 text-center">
    Price: ${{tour.price}}
  </div>
</div>
<div class="my-5 row justify-content-center">
  <a class="btn btn-lg btn-success" href="/book?tour={{tour.id}}">Book</a>
</div>
{% endblock %}